<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Region</key>
	<string>eu-north-1</string>
	<key>SecretKey</key>
	<string>KHbvpYoGZzcasKzXoFhtKx9JVgCMUY3vfC8S7iLq</string>
	<key>AccessKey</key>
	<string>AKIA5G2VG4SUUQKNSDO2</string>
</dict>
</plist>
